<p class="my-4">Bienvenue <span style="font-weight: bold;" class="text-success">admin</span>
    <small><a href="{{path('home')}}" class="text-warning">Voir mon site</a></small>
</p>


    <!-- gerer mes articles  -->
<div>
    <p style="font-weight: bold;"> Gérer mon blog</p>
    <ul>
        <li><a href="#" class="text-warning">Liste des articles</a></li>
        <li><a href="#" class="text-warning"> Ajouter un article</a></li>
    </ul>

</div>

<p>
    <small>
        <a href="" class=" btn text-light btn-danger" style="font-weight: bold;">Déconnexion</a>
    </small>
</p>