<p class="my-4">Bienvenue <span style="font-weight: bold;" class="text-success">admin</span>
    <small><a href="{{path('home')}}" class="text-warning">Voir mon site</a></small>
</p>


    <!-- gerer mes articles  -->
<div>
    <p style="font-weight: bold;">Base de données</p>
    <ul>
        <li><a href="{{ path('skills') }}" class="text-warning">Liste des skills</a></li>
        <li><a href="{{ path('projects') }}" class="text-warning">Liste des projets</a></li>

    </ul>

</div>

<p>
    <small>
        <a href="" class=" btn text-light btn-danger" style="font-weight: bold;">Déconnexion</a>
    </small>
</p>