{% extends 'base.html.twig' %}

{% block body %}

	{# présentation #}
	<div class=" row justify-content-center align-content-center" style="height:45vh;">
		<div class="">

			<div class="">
				<p class="titleName">Emilie</p>
				<p id="machine"></p>
			</div>

			<div class="">
				<p class="btn btn-success">En savoir plus</p>
				<p class="btn btn-success">Voir mes projets</p>
			</div>

		</div>

	</div>




{% endblock %}