{% include 'components/head.html.twig' %}
    {% include 'components/navbar.html.twig' %}

   
            {% block body %}{% endblock %}
            
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>