{% extends 'base.html.twig' %}

{% block body %}

	{# présentation #}
	<div class=" row justify-content-center align-content-center" style="height:35vh;">
		<div class="">

			<div class="">
				<h2 style:"">Emilie</h2>
				<p>Apprentie dev web
				</p>
			</div>

			<div class="">
				<p class="btn btn-success">En savoir plus</p>
				<p class="btn btn-success">Voir mes projets</p>
			</div>

		</div>

	</div>


	{#  A propos #}
	<div class="container">
		{{ form(technoForm) }}

		</div>
	{% endblock %}
