<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('home') }}">Emilie</a>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{{ path('home') }}">Accueil</a>
            <a class="nav-item nav-link" href="#">A propos</a>
            <a class="nav-item nav-link" href="#">Contact</a>
        
        </div>
    </div>
</nav>